<div class="hbm item-body class">
    <div class="row">
        <label>{{localize 'HBM.class.year'}}: <input type="number" name="system.year" value="{{system.year}}" min="1" max="4"/></label>
        <label>{{localize 'HBM.class.attributePoints'}}: <input type="number" name="system.attributePoints" value="{{system.attributePoints}}" min="0"/></label>
        <label>{{localize 'HBM.class.skillPoints'}}: <input type="number" name="system.skillPoints" value="{{system.skillPoints}}" min="0"/></label>
    </div>
<fieldset>
    <legend>{{localize 'HBM.class.talents'}}
        <button type="button" data-action="addArrayEntry" data-path="system.talents" data-template='""'
            title="{{localize 'HBM.ui.add'}}">＋</button>
    </legend>
    {{#each system.talents as |t idx|}}
    <div class="row">
        <input type="text" name="system.talents.{{idx}}" value="{{t}}" />
        <button type="button" data-action="removeArrayEntry" data-path="system.talents" data-index="{{idx}}">✕</button>
    </div>
    {{/each}}
</fieldset>

<fieldset>
    <legend>{{localize 'HBM.class.spells'}}
        <button type="button" data-action="addArrayEntry" data-path="system.spells" data-template='""'
            title="{{localize 'HBM.ui.add'}}">＋</button>
    </legend>
    {{#each system.spells as |s idx|}}
    <div class="row">
        <input type="text" name="system.spells.{{idx}}" value="{{s}}" />
        <button type="button" data-action="removeArrayEntry" data-path="system.spells" data-index="{{idx}}">✕</button>
    </div>
    {{/each}}
</fieldset>

<fieldset>
    <legend>{{localize 'HBM.class.features'}}
        <button type="button" data-action="addArrayEntry" data-path="system.features"
            data-template='{"name":"","description":""}' title="{{localize 'HBM.ui.add'}}">＋</button>
    </legend>
    {{#each system.features as |f idx|}}
    <div class="row">
        <input type="text" name="system.features.{{idx}}.name" value="{{f.name}}"
            placeholder="{{localize 'HBM.ui.name'}}" />
        <input type="text" name="system.features.{{idx}}.description" value="{{f.description}}"
            placeholder="{{localize 'HBM.gear.description'}}" />
        <button type="button" data-action="removeArrayEntry" data-path="system.features" data-index="{{idx}}">✕</button>
    </div>
    {{/each}}
</fieldset>

<label>{{localize 'HBM.class.description'}}<textarea name="system.description"
        rows="6">{{system.description}}</textarea></label>
</div>
